<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='./static/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
  <script src='./static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>KnitHAT</div>
    <p>
      Upload a photo of the knitted hat you'd like to make. We'll send you to some top-rated knitting patterns for similar hats!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Hat Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'> 
        <label id='result-label'></label>
        <!-- <label id='result-label'></label><a href = " " id='result_label_url'>Get your customized Ravelry results!</a> this is for the Rav link-->
      </div>
    </div>
  </div>
</div>
</body>
</html>
