<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='./static/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
  <script src='./static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>KnitHAT's Pattern Ideas</div>
    <p>
      Thanks for trying out KnitHAT!
    </p>
    <p>You uploaded:</p>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
    <div class='pattern-info'>
        <p>Here are the three top Ravelry search results with styles similar to your uploaded image.</p>
        <p>All of these patterns are rated 5 stars on Ravelry!</p>
        
        <br> <!-- pattern 1 results-->
        <img src=" " alt="Hat Pattern 1" height="240" width="240">{{patt_recs[0]['photo']}} <!-- show the image -->
        <a href=" ">{{patt_recs[0]['link']}}{{patt_recs[0]['info']}}</a> <!-- pattern name and author as link to pattern -->
        {{patt_recs[0]['free']}}
        
        <br> <!-- pattern 2 results-->
        <img src=" " alt="Hat Pattern 2" height="240" width="240">{{patt_recs[1]['photo']}} <!-- show the image -->
        <a href=" ">{{patt_recs[1]['link']}}{{patt_recs[1]['info']}}</a> <!-- pattern name and author as link to pattern -->
        {{patt_recs[1]['free']}}

        <br> <!-- pattern 3 results-->
        <img src=" " alt="Hat Pattern 3" height="240" width="240">{{patt_recs[2]['photo']}} <!-- show the image -->
        <a href=" ">{{patt_recs[2]['link']}}{{patt_recs[2]['info']}}</a> <!-- pattern name and author as link to pattern -->
        {{patt_recs[2]['free']}}

    </div>
</body>